.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 30px);
    /* background-color: red; */
    margin-top: -50px;
    width: auto;
}

.btnWrap {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taBtn {
    width: 50px;
    height: 50px;
    background-color: #262626;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.taBtn:last-child {
   margin-left: 10px;
}

.active {
    background: #0077FF;
} 

.bottomParagraph {
    font-family: "SF-Pro-Display-Regular.otf";
}