.navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-family: "SF-Pro-Display-Black.otf";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121212;
}


.navRight {
    /* background-color: red; */
    /* width: 230px; */
    /* max-width: 50%; */
    min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.name {
    font-family: "SF-Pro-Display-Regular.otf";
    font-size: 0.8rem;
}


.avatarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 3px solid #0077FF;
    margin: 0 20px 0 10px;
}


.avatar {
    width: 92%;
    height: 92%;
    object-fit: cover;
    border-radius: 50%;
}

.logout {
    border: none;
    background-color: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 88, 88);
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.7);
    justify-content: center;
}