.input {
    background: #454545;
    border: none;
    padding: 16px 20px;
    width: 200px;
    color: #fff;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}

.input:focus {
    box-shadow: 0 0 0 2px rgb(0, 119, 255, 0.4);
}